.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-form {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  }

.custom-form input {
  width: 100%;
  padding: 8px;
}

.custom-form button {
  width: 100%;
  padding: 10px;
}
